
.intro-box {
  background-color: var(--medium-teal);
  border: 3px solid var(--teal-text);
  justify-content: space-between;
}

.intro-pics{
    margin: auto calc(50% - 45vw);
    align-self: center;
}

.project-info {
max-width:80%;
  justify-content: space-around;
  margin-top: 3vh;
  z-index: 1;
}
.background-split-colors {
  background-image: linear-gradient(
    to right,
    white 0%,
    white 50%,
    var(--teal-text) 50%,
    var(--teal-text) 100%
  );
  margin-top: -80px;
  position: relative;
}
.teal-strip{
    background-color: var(--light-teal);
    margin: auto 5vw;
}

.capsule-up{
  width: 90%;
  height: 63vw;
  border-radius: 90% 90% 0 0;
  top: 13vh;
  margin-left: 5vw;
}
.capsule-shape {
  position: absolute;
  background-color: var(--medium-teal);
}
.capsule-container {
  position: relative;
  justify-content: space-between;
}

.the-problem{
    border-image:linear-gradient(
    to right,
    white 0%,
    white 50%,
    var(--teal-text) 50%,
    var(--teal-text) 100%
  ) 1;
  border-width: 3px;
  border-style: solid;
  align-items: center;
  max-width:80%;
  margin: 30px auto;
}

.the-problem picture{
    width: 60%;
    /* temporary */
}

 .background-split-colors p  {
    width:60%;
} 

.dotted-line{
   border-top: 2.5vw dotted var(--medium-teal);
   width:100%;
}
.dotted-line.horizontal-stripe{
    padding: 0 50vw;
}
.dotted-line.dark-teal{
     border-top: 1.8vw dotted var(--teal-text);
     width: 60%; 
     /* temporary */
}