:root {
  --dark-blue: #00507d;
}

.intro-box {
  background-color: var(--medium-teal);
  border: 3px solid var(--dark-blue);
  height: 75vh;
  justify-content: space-between;
}
.project-info {
max-width:80%;
  justify-content: space-around;
  margin-top: 3vh;
  z-index: 1;
}
.background-split-colors {
  background-image: linear-gradient(
    to right,
    white 0%,
    white 50%,
    var(--teal-text) 50%,
    var(--teal-text) 100%
  );
  margin-top: -80px;
}

.long-capsule {
  position: absolute;
  background-color: var(--medium-teal);
  width: 88%;
  height: 60vw;
  border-radius: 90% 90% 0 0;
  top: 15vh;
  margin-left: 6%;
}

.on-top {
  position: relative;
}
.fit-ellipse {
  height: 30vw;
  margin-top: 5vw;
  position: relative;
  display: inline-block;
}
