/* || general css */
:root {
  --light-teal: #e8fafc;
  --medium-teal: #9bc3da;
  --grey: #5e6b81;
  --cool-black: #1e1e1e;
}

/* #region || colors */
.white-bg {
  background-color: white;
}
.light-teal{
  color: var(--light-teal)
}
.light-teal-bg {
  background-color: var(--light-teal);
}
.medium-teal{
  color:var(--medium-teal)
}
.medium-teal-bg {
  background-color: var(--medium-teal);
}
.dark-teal{
  color: var(--teal-text)
}
.dark-teal-bg {
  background-color: var(--teal-text);
}
/* #endregion */
/* #region || general text rules */
h1,
h2 {
  font-family: Marmelad, sans-serif;
  text-align: center;
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
h3.semibold {
  font-size: 1.2em;
}

.sub-heading {
  font-family: Glory, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #5e6b81;
}
/* #endregion */

/* #region ||main body rules */
main {
  background-color: #fff;
  color: var(--cool-black);
}

/* || teal transition stripe */
.light-teal-stripe {
  background-color: var(--light-teal);
  padding: 1vh 0 1.5vh;
}
.light-teal-stripe h3 {
  font-size: 1.5rem;
  margin: 1% 0;
}
/* #endregion */

/* #region || Introduction section */

.vela-intro-container {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.intro-img {
  grid-area: 2/2/3/3;
  align-self: center;
}
.project-details {
  grid-area: 1/1/3/3;
}
.project-details div:nth-child(1) {
  grid-area: 1/1/2/4;
}
.project-details div:nth-child(2) {
  grid-area: 2/1/3/2;
  width: 120px;
}
.project-details div:nth-child(3) {
  grid-area: 3/1/4/2;
  width: 120px;
}

.project-details h3 {
  width: 100px;
  margin-bottom: 0;
}
.software-icons {
  display: inline-flex;
  grid-area: 3/1/4/3;
  margin-top: 2vh;
}

#introduction .software-icons > h3 {
  font-size: 1.2rem;
}
#introduction .software-icons picture {
  margin-top: 1rem;
}
.bottom-border {
  border-bottom: 2px solid var(--cool-black);
  padding-top: 0.5vh;
}

#introduction h1 {
  margin-bottom: 0.25em;
  padding-top: 2vh;
}
#introduction ul {
  padding: 0;
  padding-left: 1rem;
}
#introduction.grid div {
  padding-left: 2vw;
}

.software-icons img {
  padding-left: 2vw;
  max-width: 75%;
}

/* attach aria label to interactive element */
img[src*="arrow-transition"] {
  box-sizing: content-box;
  width: 45px;
  height: 25px;
  padding-bottom: 60px
}
.thinking-process{
  justify-content: space-around;
  align-items: center;
}

 .ellipse {
    height: 60px;
    width: 60px;
    margin-top: 5px;
    background: var(--light-teal);
    border-radius: 50%;
    position: relative;
  }
    .ellipse > img {
    height: 35px;
    position: absolute;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
/* #endregion */

/* #region || competitive research */

/* icon sizing */
img[src*="windy-app-icon"] {
  width: 6rem;
  height: 6rem;
}
img[src*="accuweather-icon"] {
  width: 8rem;
  height: 6.5rem;
}
/* specific colors */
.windy-teal {
  background-color: #add5e8;
}
.windy-teal-dark {
  background-color: #82b9e8;
}
.light-orange {
  background-color: #ffd399;
}
.mid-orange {
  background-color: #ff8d4f;
}

/*main elements */
.weather-container {
  gap: 3vw;
  justify-content: center;
  margin-bottom: 5vh;
}
.weather-grid {
  grid-template-columns: subgrid;
  grid-template-rows: 50px 100px 18vh 200px 170px;
  padding: 2vh 2vw 4vh;
  gap: 11px;
}

.weather-grid h4,.weather-grid img{
  justify-self: center;
}

.weather-container ul {
  margin: 0;
  padding: 0;
}

.weather-container p {
  padding: 0 1.5vw;
  margin: 0;
}

.weather-grid div ul{
  padding: 1.5vh 2vw 1.5vh 4vw;
  text-align: left;
}
.weather-container div:nth-child(2) img{
align-self: center;
}
.weather-container div:first-child{
grid-column: 1/2;
}
.weather-container div:nth-child(2){
grid-column: 2/3;
}
/* #endregion */

/* #region || user interviews WIP*/
/* #region research goal section */
.research-goals{
  margin-top: 5vh;
}
#user-interviews .research-goals ul{
  gap: 4.5vh 2vh;
  grid-template-columns: 1fr 12fr;
}
#user-interviews .research-goals ul div{
border-radius: 50%;
width: 5vw;
height: 5vw;
grid-area: 1/1/2/2;
}

#user-interviews .research-goals li{
  font-size: large;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: column;
  grid-column:1/3;
  align-items:center;
  list-style-type: none;
}
#user-interviews .research-goals ul li:nth-of-type(1) div{
  background-color: #dfe7ed;
}
#user-interviews .research-goals ul li:nth-of-type(2) div{
  background-color:#c3d7e0;
}
#user-interviews .research-goals ul li:nth-of-type(3) div{
  background-color: #a2bfd0;
}
#user-interviews .research-goals ul li:nth-of-type(4) div{
  background-color:#89aec3;
}

/* #endregion */
.interview-participant{
  width:100%;
}

#user-interviews .interview-participant:first-of-type{
  background-image: linear-gradient(90deg, rgba(223, 231, 237, 0.58) 0%, rgba(223, 231, 237, 0) 100%);
}
#user-interviews .interview-participant:nth-of-type(2){
  background-image: linear-gradient(90deg, rgba(195, 215, 224, 0) 0%, rgba(195, 215, 224, 0.58) 100%);
  justify-content: flex-end;
}
#user-interviews .interview-participant:nth-of-type(3){
  background-image: linear-gradient(90deg, rgba(162, 191, 208, 0.58) 0%, rgba(162, 191, 208, 0) 100%);
}
#user-interviews .interview-participant:nth-of-type(4){
  background-image: linear-gradient(90deg, rgba(137, 174, 195, 0) 0%, rgba(137, 174, 195, 0.58) 100%);
  justify-content: flex-end;
}

/* #endregion */

/* keep image, basic details and quote - put the rest under an 'about' btn */
/*#region ||user personas WIP*/

.persona-block {
  display: flex;
  position: relative;
}
.persona-block.margin-bottom {
  margin-bottom: 8vh;
}

.persona-textbox {
  padding: 17px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.persona-textbox ul {
  padding-left: 2vw;
  margin: 1vh 0;
}

.persona-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* persona image rules */
.center-image-lock {
  position: relative;
  top: 2vh;
  left: -5.5vw;
  max-width: 45vw;
  width: auto;
}
.center-image-kip {
  position: relative;
  top: 2vh;
  left: -7vw;
  max-width: 45vw;
  width: auto;
}
.clip-circle {
  clip-path: circle(9vw at 30% 25%);
  left: 24vw;
  transform: translate(-50%, 0);
  position: absolute;
}

.persona-personal-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
}
div.persona-container h4 {
  margin-top: 2vh;
}

.quote-grid {
  display: grid;
  row-gap: 1.5vw;
  padding-top: 0;
  padding-bottom: 0;
}

div.persona-container > h4 {
  /* adjustment for absolute placed image */
  padding-top: 80%;
}

/* #endregion */

/* #region || wireframes */

.wireframe-img-block {
  position: relative;
  gap: 2vh;
}

.wireframe-img-block h4 {
  margin-top: 5vh;
}
.wireframe-img-block h4:nth-of-type(1){
  grid-area: 1/1/2/2;
}
.wireframe-img-block h4:nth-of-type(2){
  grid-area:3/1/4/2;
}
.wireframe-img-block h4:nth-of-type(3){
  grid-area: 5/1/6/2;
}

.wireframes-stripe{
position: relative;
padding-top: 16vh;
}
.wireframe-img-block .wireframes-stripe:nth-of-type(1),
 .wireframe-img-block picture:nth-of-type(1){
  grid-area: 2/1/3/2;
}
.wireframe-img-block .wireframes-stripe:nth-of-type(2),
 .wireframe-img-block picture:nth-of-type(2) {
  grid-area: 4/1/5/2;
}
.wireframe-img-block .wireframes-stripe:nth-of-type(3),
 .wireframe-img-block picture:nth-of-type(3){
  grid-area: 6/1/7/2;
}

.in-front {
  position: relative;
  z-index: 1;
  max-width: 76%;
  margin: auto;
}

/* #endregion */

/*#region || usability testing WIP */
#usability-testing .flex {
  gap: 2vw;
  align-items: normal;
}
#usability-testing ul {
  padding: 0 1vw 0 2vw;
}
.usability-head {
  padding-top: 4vh;
}
.usability-background {
  background-color: var(--light-teal);
  padding-bottom: 8vw;
}
.p1 {
  background-color: #f8b3b3;
}
.p2 {
  background-color: #ffceab;
}
.p3 {
  background-color: #fff3b6;
}
.p4 {
  background-color: #d5ffbb;
}
.p5 {
  background-color: #c3ffed;
}
.p6 {
  background-color: #ced6ff;
}
.participant-box {
  padding: 1rem 2rem;
  width: 12vw;
}
.usability-quotes {
  justify-content: space-between;
}
.usability-task {
  display: flex;
  flex-direction: column;
  padding: 2vh 1vw;
  gap: 2vh;
  width: 30rem;
  background-color: white;
}
.error-box {
  padding: 2vh 0;
}
/* #endregion */

/* #region || wireframe iterations */

.wireframe-box {
  
  flex-shrink:0;
  width: 25%;
  margin: 10px;
}

.version-num {
  align-self: flex-start;
  margin-right: 1vw;
}
.iterate{
  flex-direction: column;
}
.frame-iterate {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
}
.frame-iterate > p:first-child{
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 5vh;
}
.frame-iterate > p:nth-of-type(2){
  width: 65%;
}

.frame-iterate:nth-of-type(1){
  background-image: linear-gradient(180deg, rgba(167, 185, 188, 0) 0%, rgba(167, 185, 188, 0.33) 100%);
}
.frame-iterate:nth-of-type(2){
background-image:linear-gradient(180deg, rgba(146, 185, 193, 0) 0%, rgba(146, 185, 193, 0.33) 100%);
}
.frame-iterate:nth-of-type(3){
background-image: linear-gradient(180deg, rgba(79, 130, 140, 0) 0%, rgba(79, 130, 140, 0.33) 100%);
}
/* #endregion */

/* #region mini screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 320px) and (max-width: 450px) {
.frame-iterate{
  justify-content: center;
}

  .frame-iterate > p:nth-of-type(2){
  width: 90%;
}
.frame-iterate > p:first-child{
  text-align: initial;
}

}
/* #endregion */

/* #region || small screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 639px) {
  /* || design thinking small */

  .ellipse-text h3 {
    margin: 0.6rem 0;
  }

  .flex-sm {
    display: flex;
    align-items: center;
    row-gap: 10px;
  }

  /* || competitive research small */
  .weather-container {
    flex-direction: column;
  }

  .no-shrink {
    width: 100%;
  }

  img[src*="windy-app-icon"] {
    width: 3rem;
    height: 3rem;
  }

  img[src*="accuweather-icon"] {
    width: 6rem;
    height: 3.5rem;
  }
  /* || user persona small */
  .persona-block {
    align-items: normal;
    flex-direction: column;
  }
  .persona-container {
    flex-direction: row;
  }
  .persona-personal-details {
    padding-top: 30%;
    padding-left: 3vw;
  }
  div.persona-container > h4 {
    padding-top: 20%;
    position: absolute;
    top: 2vh;
    left: 13vw;
  }
  .persona-container div:nth-child(4) {
    padding: 3vh 3vw 3vw;
  }
}
/* #endregion */

/* #region medium width size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 639px) and (max-width: 1023px) {
  /* #region introduction medium */
  /* #region overview */
  .vela-intro-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .intro-img {
    grid-area: 1/3/3/12;
    margin-top: 8vh;
  }
  .project-details {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
  .project-details div:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .project-details div:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .project-details div:nth-child(3) p {
    width: 120px;
  }

  .software-icons {
    grid-area: 3/1/4/7;
  }
  /* #endregion */
  /* #region || design thinking medium */
  .ellipse {
    height: 88px;
    width: 88px;
  }
  .ellipse > img {
    height: 44px;
  }

  .flex-med {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  img[src*="arrow-transition"] {
    box-sizing: content-box;
    padding: 0 0 4vh;
  }
  img[src*="arrow-transition-dark"] {
    margin-right: 2vw;
  }
  [class*="col-"] {
    float: left;
    padding: 2vh 2vw;
    position: relative;
  }
  /* #endregion */
  /* #endregion */

  /* #region || user interviews medium */
  .ellipse-user-left,
  .ellipse-user-right {
    position: relative;
  }

  .ellipse-user-left {
    width: 4vw;
    padding-top: 4vw;
  }
  .ellipse-user-right {
    width: 4vw;
    padding-top: 4vw;
  }
  #define [class*="col-"] {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* #endregion */
  /* ||wireframes medium */

  /* || usability testing medium */
  .usability-task {
    align-items: normal;
    align-content: space-evenly;
  }
/* #region || wireframe iterations medium */
.wireframe-box {
  width: auto;
  order: -1;
  flex-shrink: 1;
}
.iterate{
  flex-direction: row;
  align-items: flex-start;
  gap: 2vw;
  justify-content: center;
}
.frame-iterate{
  flex-direction: column;
  padding: 20px;
}
.frame-iterate > p:first-child{
  width: auto;
  margin: 0;
}
.frame-iterate > p:nth-of-type(2){
  width: auto;
}

/* #endregion */
}
/* #endregion */

/* #region || large screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1024px) {
  /* #region introduction large */
  /* #region overview */
  .sub-heading {
    max-width: 80%;
  }
  #introduction {
    margin-top: 8vh;
  }
  .intro-img {
    grid-area: 1/3/3/12;
    align-self: center;
  }
  .project-details {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .project-details div:nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .project-details div:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .project-details div:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .project-details div:nth-child(3) p {
    width: 120px;
  }

  .software-icons {
    display: inline-flex;
    grid-area: 3/1/4/7;
    margin-top: 2vh;
  }
  /* #endregion */
  /* #region ||design thinking large */
  .ellipse > img {
    width: 5vw;
    height: 5vw;
    position: absolute;
    opacity: 0.7;
    flex-shrink: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .ellipse {
    width: 10vw;
    height: 10vw;
    background: var(--light-teal);
    border-radius: 9999px;
    position: relative;
  }
  .ellipse-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  img[src*="arrow-transition"] {
    box-sizing: content-box;
    padding: 0 0 4vh;
  }
  img[src*="arrow-transition-dark"] {
    margin-right: 2vw;
  }
  /* #endregion */
  /* #endregion */

  /* #region || user interviews large */
  #user-interviews .col-5 {
    padding-right: 0;
    padding-left: 0;
    height: 45vh;
  }
  #user-interviews .col-7 {
    padding-left: 0;
    padding-right: 4vw;
    height: 45vh;
  }
  .icon-location {
    margin-left: 9vw;
    margin-top: 1vh;
  }
  .flex-lg {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* #endregion */

  /* #region || user persona large */
  .clip-circle {
    left: 22.5vw;
  }

  /* ||wireframes large */

  .in-front {
    max-width: 70%;
  }
  /* #endregion */
  /* || usability testing large */
  .usability-task {
    align-items: normal;
    align-content: space-evenly;
  }
  /* #region || wireframe iterations large */

 .wireframe-box {
  width: auto;
  order: -1;
  flex-shrink: 1;
}
.iterate{
  flex-direction: row;
  align-items: flex-start;
  gap: 2vw;
  justify-content: center;
}
.frame-iterate{
  flex-direction: column;
  padding: 20px;
}
.frame-iterate > p:first-child{
  width: auto;
  margin: 0;
}
.frame-iterate > p:nth-of-type(2){
  width: auto;
}
/* #endregion */
}
/* #endregion */
