/* general css */
:root {
  --off-white: #fffaf1;
  --warm-black: #351b00;
  --teal: #7feae9;
  --teal-text: #00507d;
  --pink: #fd7a8e;
  --pink-text: #781313;
  --yellow: #ffc81a;
  --visited-link: #4d2233;
  --text-hover: #043653;
  --dark-blue: #091941;
  --dark-med-blue: #12316e;
}

/* fonts: Marmelad (H), Glory(SH), Proza Libre (B) */

/* || General Rules */

/* #region || sizing & spacing  */
* {
  box-sizing: border-box;
}
.container {
  margin: 6vh 5vw 3%;
  padding: 0 0 5vh;
}
.left-edge {
  padding-left: 0;
}
.right-edge {
  padding-right: 0;
}

.horizontal-stripe {
  margin: auto calc(50% - 50vw);
  /* reach the edges of the screen even inside a container */
}
.center-inside-container {
  max-width: calc(100% - 24vw);
  margin: 0 auto;
}

.margin-bottom-sm {
  margin-bottom: 4vw;
}
.margin-bottom {
  margin-bottom: 6vw;
}

img {
  width: 100%;
}

/* #endregion */

/* #region || text rules */
h1 {
  font-family: "Marmelad", sans-serif;
}
h4 {
  margin: 2% 0 1%;
  font-size: 1.17em;
}
h5 {
  margin: 2% 0 1vh;
  font-size: 1rem;
}

.text-lg {
  font-size: XX-large;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}

.white {
  color: white;
}
.dark-blue {
  color: var(--dark-blue);
}

h1 + span {
  font-size: large;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 2vh;
}
/* #endregion */

/* #region || display rules */
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
  position: relative;
}
.flex-column {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.grid {
  display: grid;
}
.align-self-start {
  align-self: start;
}
.z-index-1 {
  z-index: 1;
}

/* #region column widths */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* #endregion */

/* #endregion */

/* #region || decorative elements */

.border-radius {
  border-radius: 25px;
}
.border-radius-sm {
  border-radius: 10px;
}

.box-shadow-light {
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
.box-shadow-dark {
  box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
}

.btn-border-yellow {
  border: 2px solid var(--yellow);
}
.btn-border-pink {
  border: 2px solid var(--pink);
}
.btn-border-teal {
  border: 2px solid var(--teal);
}
/* #endregion */
/* #region links / || interactive */
@keyframes color-change {
  0% {
    fill: var(--pink);
  }
  50% {
    fill: var(--yellow);
  }
  100% {
    fill: var(--teal);
  }
}

a {
  color: var(--teal-text);
  text-decoration: none;
  display: inline-flex;
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  transform: scale(1.05);
  color: var(--text-hover);
}

a:focus {
  outline: 2px solid var(--pink-text);
  outline-offset: 0.1rem;
}

a:active {
  color: var(--pink-text);
}

a.logo {
  transition: transform 400ms;
}

a.logo svg g {
  animation: 3s color-change alternate infinite linear;
}

a.logo:hover {
  transform: scale(1.25);
}
/* #endregion */

/* #region || buttons */
.btn {
  background-color: white;
  color: var(--warm-black);
  padding: 0.8em;
  text-decoration: none;
  font-size: 18px;
}
.download-btn {
  transition: transform 200ms;
}

.contact-btn {
  background-color: var(--teal-text);
  color: var(--off-white);
  padding: 0.6em 0.8em;
  border: 2px solid var(--text-hover);
  border-radius: 10px;
  margin-bottom: 0.75rem;
}

.btn:hover {
  box-shadow: 0 0 5px 1px rgb(253 122 142 / 16%);
}

.download-btn:hover {
  background-color: hsl(46deg 100% 95%);
}
a.contact-btn:hover {
  color: white;
}
/* #endregion */

/* #region|| Main elements */
header {
  background-color: var(--off-white);
  padding: 0 4% 0 7%;
  border-bottom: 5px solid var(--pink);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--off-white);
  padding: 1.3vh 3vw 1vh;
  text-align: center;
}

#contact-me h2 {
  margin-bottom: 0.5rem;
}

body {
  font-family: "proza libre", sans-serif;
  font-size: 16px;
  color: var(--warm-black);
  word-spacing: 1.6px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* #endregion */

/* || icons */
img[src*="icon.svg"],
#contact-me .icon {
  width: 50px;
  height: 50px;
}

header svg {
  height: 60px;
  width: 60px;
  margin-top: 1vh;
}
/* #region || Navbar */
nav {
  position: absolute;
  right: 5vw;
  top: 2vh;
}

nav ul {
  list-style-type: none;
  gap: 4vw;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}
/* #endregion */

/* decorative borders for intro */
.border-pink {
  border: 3px solid var(--pink);
}
.border-yellow {
  border: 3px solid var(--yellow);
  margin: 5px;
}
.border-teal {
  border: 3px solid var(--teal);
  margin: 8px;
  padding: 3px;
}

/* #region || index css */

#hero-section {
  padding: 5% 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.project-section {
  align-items: flex-start;
}
.project-section p {
  max-height: 7rem;
}
.project-section img {
  width: 70vw;
}
.project-section div:nth-child(2) {
  margin: 0 10vw;
}
.project-box1,
.project-box2 {
  display: flex;
  align-self: center;
}
.project-box1 {
  border: 10px solid var(--off-white);
  outline: 2px solid var(--pink);
  padding: 3vw;
}
.project-box2 {
  border: 10px solid var(--off-white);
  outline: 2px solid var(--teal);
  padding: 3vw;
}

#project-section h2 + div {
  row-gap: 5vh;
}

/* #endregion */

/* #region || about section */
#about-me picture {
  position: relative;
  width: 80%;
  margin-bottom: 2vh;
}
.my-story {
  background-color: var(--off-white);
  width: auto;
  padding: 3vh 3vw;
  margin-bottom: 3vh;
}
.skills {
  flex-flow: wrap;
  justify-content: space-around;
}
.skills h2 {
  width: 100%;
  margin-bottom: 0;
}

/* #endregion */

/* #region mini screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 320px) and (max-width: 450px) {
  /* about section */
  .skills {
    flex-flow: column;
  }
}
/* #endregion */

/* #region small screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 639px) {
  main {
    padding-top: 80px;
  }

  /* #region || Navbar */

  /* #region navigation bar interactive */
  .navtoggle li {
    padding: 10px 10px;
  }

  .navtoggle li:first-child {
    padding: 0 12px;
  }
  .navtoggle li:not(:first-child) {
    display: none;
  }

  .navtoggle.responsive li:not(:first-child) {
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--warm-black);
    border-left: 2px solid var(--pink);
    border-right: 2px solid var(--pink);
    background-color: var(--off-white);
  }
  .navtoggle.responsive li:first-child {
    padding: 0 10px;
    padding-bottom: 12px;
  }

  .navtoggle.responsive li:last-child {
    border-bottom: 2px solid var(--pink);
    border-radius: 0 0 10px 10px;
  }

  .navtoggle.responsive nav {
    background-color: var(--off-white);
    border-radius: 0 0 10px 10px;
  }
  .navtoggle li:hover,
  .navtoggle.responsive li:hover {
    background-color: var(--white);
  }
  .navtoggle li a.icon {
    font-size: 1.8rem;
  }
  /* #endregion */

  /* #region navigation bar design */
  nav {
    top: 1.8vh;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav li a.icon {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
  }
  /* #endregion */
  /* #endregion */
}
/* #endregion */

/* #region medium device size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 639px) and (max-width: 1023px) {
  .container {
    margin: 5vh 5vw;
  }
  /* #region navigation */
  header.box-shadow-dark {
    position: static;
    box-shadow: none;
  }
  .navtoggle li:not(:first-child) {
    display: inline-block;
  }
  .navtoggle li:first-child {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    display: inline-block;
  }
  /* #endregion */

  /* #region about section */
  #about-me picture {
    width: 60%;
  }
  .skills {
    flex-flow: wrap;
    justify-content: space-around;
  }
  .skills h2 {
    margin-bottom: 1vh;
  }
  /* #endregion */

  .gap {
    margin: 0 1.5vw;
  }
  .project-section {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3vw;
  }
  .project-section p {
    max-height: 10rem;
  }
  .project-section img {
    width: 40vw;
  }
  .project-section div:nth-child(2) {
    margin: 0;
  }
}
/* #endregion */

/* #region large screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1024px) {
  .container {
    margin: 0 14vw 3%;
    padding: 0 0 5vh;
  }

  header.box-shadow-dark {
    position: static;
    box-shadow: none;
  }
  #about-me .border-yellow {
    margin: 0;
  }

  nav ul {
    display: flex;
  }
  .navtoggle li:first-child {
    display: none;
  }
  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  #about-me picture {
    width: 40%;
  }

  .skills {
    flex-flow: nowrap column;
    margin-top: 3vh;
    margin-left: 3vw;
  }
  .skills h2 {
    margin: 0;
    text-align: initial;
  }
  .skills div {
    width: 250px;
  }
  .about {
    flex-direction: row;
    align-items: baseline;
    margin-top: 2vh;
  }

  .project-section {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3vw;
  }
  .project-section p {
    max-height: initial;
  }
  .project-section img {
    width: 30vw;
  }
  .project-section div:nth-child(2) {
    margin: 0;
  }
  .project-box1,
  .project-box2 {
    padding: 1.5vw;
  }
}
/* #endregion */
