/*Colors used:

Main:                       Accent:
white - #FFFFFF;            teal - #7FEAE9;
off white - #FFFAF1;        pink - #FD7A8E;
'black' - #351B00;          yellow - #FFC81A;



Vela:
primary - #6DAD04;          grey - #595959;
light primary - #F8FFEC;     white - #FFFFFF;
'black' - #1E1E1E;

Transparency:
(dark) box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
(light) box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);


*/
:root{
    --off-white: #FFFAF1;
    --black: #351B00;
    --teal: #7FEAE9;
    --teal-text:#00507D;
    --pink:#FD7A8E;
    --pink-text:#781313;
    --yellow:#FFC81A;
    --vistited-link:#4D2233;

}
body{   
    font-family: 'proza libre', serif;
    font-size: 16px;
    word-spacing: 1.6px;
    line-height: 1.4;
}

h1{
    font-family: 'Marmelad', serif;
}
a{
    color: var(--teal-text);
    text-decoration: underline;
}
a:visited{
    color:var(--vistited-link);
}
a:hover{
    font-size: 1.2rem;
}
a:active{
    color:var(--pink-text);

}
a:focus{
    outline: 2px solid var(--pink-text);
    outline-offset: .1rem;
}
.button {
    display: inline-block;
    background-color: white;
    color: var(--black);
    padding: 10px;
    text-decoration: none;
    border: 2px solid var(--pink);
    border-radius: 10px;
}
.button:hover{
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px 1px rgba(253, 122, 142, 0.16);
}
