
/* general css */
:root {
  --off-white: #fffaf1;
  --warm-black: #351b00;
  --teal: #7feae9;
  --teal-text: #00507d;
  --pink: #fd7a8e;
  --pink-text: #781313;
  --yellow: #ffc81a;
  --visited-link: #4d2233;
  --text-hover: #043653;
  --dark-blue: #091941;
  --dark-med-blue: #12316E;
}
/* || General Rules */

/* || sizing & spacing */
* {
  box-sizing: border-box;
}

.horizontal-stripe {
  margin: auto calc(50% - 50vw);
  /* reach the edges of the screen even inside a container */
}
.horizontal-stripe-orient-left{
  margin-left:calc(50% - 50vw);
}

.margin-bottom-sm {
  margin-bottom: 4vw;
}
.margin-bottom {
  margin-bottom: 6vw;
}


.container {
  padding: 0 1em;
  max-width: calc(80% + 6vw);
  /* container size is 80% and adds the margin length from the main element */
  /* 80% + 6w should really be stored in a variable */
  margin: 0 auto;
  position: relative;
}

.center-inside-container {
  padding: 0 1em;
  max-width: calc((.8 *(100% - 24vw - 2em)) + 6vw );
  /* ...there has got to be a better way */
  margin: 0 auto;
}

img {
  width: 100%;
}

/* || text rules */
h1 {
  font-family: "Marmelad", serif;
}

h4 {
  margin: 2% 0 1%;
  font-size: 1.17em;
}

.text-lg{
  font-size: XX-large;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}

h1 + span {
  font-size: large;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 2vh;
}

/* || display rules */
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
  position: relative;
}
.flex-column{
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid {
  display: grid;
}


.col-1 {width: 8.33%;
}
.col-2 {width: 16.66%;
}
.col-3 {width: 25%;
}
.col-4 {width: 33.33%;
}
.col-5 {width: 41.66%;
}
.col-6 {width: 50%;
}
.col-7 {width: 58.33%;
}
.col-8 {width: 66.66%;
}
.col-9 {width: 75%;
}
.col-10 {width: 83.33%;
}
.col-11 {width: 91.66%;
}
.col-12 {width: 100%;
}

/* || decorative elements */

.border-radius{
  border-radius: 25px;
}
.border-radius-sm{
  border-radius: 10px;
}

.box-shadow-light {
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
.box-shadow-dark {
  box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
}

.btn-border-yellow{
  border: 2px solid var(--yellow);
  border-radius: 10px;
}
.btn-border-pink{
  border: 2px solid var(--pink);
  border-radius: 10px;
}



/* || Main elements */
header {
  background-color: var(--off-white);
  padding: 0 4% 0 7%;
  border-bottom: 5px solid var(--pink);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--off-white);
  padding: 1.3vh 3vw 1vh;
  text-align: center;
}

body {
  font-family: "proza libre", sans-serif;
  font-size: 16px;
  word-spacing: 1.6px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* || icons */
img[src*="icon.svg"],
#contact-me .icon {
  width: 50px;
  height: 50px;
}

header svg {
  height: 60px;
  width: 60px;
  margin-top: 1vh;
}

/* || Navbar */
nav {
  position: absolute;
  right: 5vw;
  top: 2vh;
}

nav ul {
  list-style-type: none;
  gap: 4vw;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}
/* decorative borders for intro */
.border-pink {
  border: 3px solid var(--pink);
}
.border-yellow {
  border: 3px solid var(--yellow);
  margin: 5px;
}
.border-teal {
  border: 3px solid var(--teal);
  margin: 8px;
  padding: 3px;
}

/* || index css */

#hero-section {
  padding: 5% 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.project-box {
  border: 10px solid var(--off-white);
  border-radius: 25px;
  outline: 2px solid var(--pink);
  padding: 3vw;
}
#contact-me h2{
  margin-bottom: .5rem;
}
/* || about css */
.my-story {
  background-color: var(--off-white);
  padding: 3vh 3vw;
  margin-bottom: 3vh;
}

.skills ul {
  padding-left: 2vw;
  margin-top: 0;
}

.col-6 {
  padding: 0 3vw;
}

.skills .col-6 h3 {
  margin-bottom: 0.5rem;
}

.me-picture {
  position: relative;
  width: 80%;
  margin-bottom: 2vh;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

/* links / || interactive */
@keyframes color-change {
  0% {
    fill: var(--pink);
  }
  50% {
    fill: var(--yellow);
  }
  100% {
    fill: var(--teal);
  }
}

a {
  color: var(--teal-text);
  text-decoration: none;
  display: inline-flex;
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  transform: scale(1.05);
  color: var(--text-hover);
}

a:focus {
  outline: 2px solid var(--pink-text);
  outline-offset: 0.1rem;
}

a:active {
  color: var(--pink-text);
}

a.logo {
  transition: transform 400ms;
}

a.logo svg g {
  animation: 3s color-change alternate infinite linear;
}

a.logo:hover {
  transform: scale(1.25);
}

/* || buttons */
.btn {
  background-color: white;
  color: var(--warm-black);
  padding: 0.8em;
  text-decoration: none;
  font-size: 18px;
}
.download-btn {
  transition: transform 200ms;
}

.contact-btn{
  background-color: var(--teal-text);
  color: var(--off-white);
  padding: 0.6em 0.8em;
  border: 2px solid var(--text-hover);
  border-radius: 10px;
  margin-bottom: .75rem;
}

.btn:hover {
  box-shadow: 0 0 5px 1px rgb(253 122 142 / 16%);
}

.download-btn:hover {
  background-color: hsl(46deg 100% 95%);
}
a.contact-btn:hover{
color: white;
}


/* small screen size */
@media screen and (max-width: 639px) {
  main {
    padding-top: 80px;
  }
  .navtoggle li{
    padding: 10px 10px;
  }

  .navtoggle li:first-child{
padding: 0 12px;
  }
  .navtoggle li:not(:first-child) {
    display: none;
  }

  .navtoggle.responsive li:not(:first-child) {
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--warm-black);
    border-left: 2px solid var(--pink);
    border-right: 2px solid var(--pink);
    background-color: var(--off-white);
  }
  .navtoggle.responsive li:first-child{
    padding: 0 10px;
    padding-bottom: 12px;
  }

  .navtoggle.responsive li:last-child {
    border-bottom: 2px solid var(--pink);
    border-radius: 0 0 10px 10px;
  }

  .navtoggle.responsive nav {
    background-color: var(--off-white);
    border-radius: 0 0 10px 10px;

  }
  .navtoggle li:hover, .navtoggle.responsive li:hover{
    background-color: var(--white);
  }

  .navtoggle li a.icon {
    font-size: 1.8rem;
  }

  nav li a.icon {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
  }

  nav {
    top: 1.8vh;
  }
  nav ul {
    margin: 0;
    padding: 0;

  }
  .row {
    margin-bottom: 4vh;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    width: auto;
  }
  .skills h2 {
    text-align: center;
  }
  #project-section .col-6, #vela-project .col-6{
    width: auto;
  }
  .col-6 {
    width: 50%;
    float: left;
  }
}

/* medium device size */
@media screen and (min-width: 640px) and (max-width: 1023px) {
  main {
    margin: 0 3vw 3%;
    padding: 0 0 5vh;
  }

  header.box-shadow-dark {
    position: static;
    box-shadow: none;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    display: inline-block;
  }

  .skills h2 {
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;
  }

  .me-picture {
    width: 60%;
  }

  .gap {
    margin: 0 1.5vw;
  }

  .col-7,
  .col-5 {
    width: auto;
  }
  .project-box {
    margin-top: 3vh;
  }

  .col-6 {
    width: 50%;
    float: left;
    padding: 1vh 2vh;
    position: relative;
  }

  .col-6 h3 {
    margin-top: 2vh;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* large screen size */
@media screen and (min-width: 1024px) {
  .border-yellow{
    margin: 0;
  }
  main {
    margin: 0 7vw 3%;
    padding: 0 0 5vh;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  header.box-shadow-dark {
    position: static;
    box-shadow: none;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    display: inline-block;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .me-picture {
    width: 40%;
  }

  [class*="col-"] {
    float: left;
    padding: 2vh 2vw;
    position: relative;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-5 {
    width: 41.66%;
    padding: 2vh 2vw;
  }
  .skills h2 {
    margin: 0;
  }

  .skills .col-6:last-child h3 {
    margin-top: 0;
  }

  .col-6 {
    width: 100%;
    padding: 1vh 2vw;
  }

  #project-section .col-6, #vela-project .col-6 {
    width: 50%;
  }
}
