/* || general css */
:root {
  --off-white: #fffaf1;
  --black: #351b00;
  --light-teal: #f5ffff;
  --teal: #7feae9;
  --teal-text: #00507d;
  --pink: #fd7a8e;
  --pink-text: #781313;
  --yellow: #ffc81a;
  --grey: #5e6b81;
  --visited-link: #4d2233;
  --text-hover: #043653;
  --black-vela: #1e1e1e;
}

h1,
h2 {
  font-family: Marmelad, sans-serif;
  text-align: center;
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

h4 {
  margin: 2% 0 1%;
  font-size: 1.17em;
}
.col-6 {
  width: 50%;
}

main {
  background-color: #fff;
  color: var(--black-vela);
  font-size: 14px;
}

.green {
  color: var(--teal-text);
}

.bust-out {
  margin: auto calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.bust-out .inside-bust-out {
  padding: 0 1em;
  max-width: calc(0.8 * (100% - 6vw));
  margin: 0 auto;
}

.border {
  border-radius: 25px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}
.bottom-border {
  border-bottom: 2px solid var(--black-vela);
  padding-top: 0.5vh;
}

.sub-heading {
  font-family: Glory, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  max-width: 60%;
  color: #5e6b81;
}

.grid {
  display: grid;
}
.space-under-small {
  margin-bottom: 4vh;
}
.space-under {
  margin-bottom: 6vh;
}
/* || Introduction */

.vela-head {
  margin-bottom: 0.25em;
  padding-top: 2vh;
}

.the-problem {
  background-color: var(--light-teal);
  padding: 1% 2vw;
  border-radius: 25px;
}

img[src*="arrow-transition"] {
  width: 83.001px;
  height: 33.2px;
}
h3.semibold {
  font-size: 1.2em;
}
#introduction ul {
  padding: 0;
}
#introduction.grid div {
  padding-left: 2vw;
}

#introduction h3 {
  margin: 1vh 0;
}
#introduction .intro-top.col-6 {
  padding-top: 4vh;
}

#introduction .inline-flex h3 {
  float: left;
}
#introduction .intro-img {
  float: right;
}
.row {
  position: relative;
}

.icons img {
  padding-left: 2vw;
  max-width: 75%;
}

/* || competitive research */
img[src*="windy-app-icon"] {
  width: 6rem;
  height: 6rem;
}

img[src*="accuweather-icon"] {
  width: 8rem;
  height: 6.5rem;
}

.windy,
.accuweather {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 2vh 2vh 4vh;
  gap: 11px;
}
/* .compare-col{
  flex: 1;
} */
.light-blue {
  background-color: #add5e8;
}

.mid-blue {
  background-color: #82b9e8;
}

.light-orange {
  background-color: #ffd399;
}

.mid-orange {
  background-color: #ff8d4f;
}

.no-shrink {
  flex-shrink: 0;
  width: 40%;
}

.competitive {
  display: flex;
  flex-direction: row;
  gap: 4vh;
  justify-content: center;
  margin-bottom: 5vh;
}

.competitive ul {
  margin: 0;
  padding: 0;
}

.competitive-padding {
  padding: 1.5vh 2vw 1.5vh 4vw;
  text-align: left;
}

.competitive p {
  margin: 0;
}

.light-blue-stripe {
  background-color: var(--light-teal);
  padding: 1vh 0 1.5vh;
}

.light-blue-stripe h3 {
  font-size: 1.5rem;
  margin: 1% 0;
}

/* || user interviews */
.goal {
  width: 100%;
  height: 100%;
  padding: 17px 20px;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
.quote {
  z-index: 0;
  padding: 2vh 2vw;
}
.flex-goals {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.goal-one {
  background: rgb(0 80 125 / 13%);
}

.goal-two {
  background: rgb(0 80 125 / 23%);
}

.goal-three {
  background: rgb(0 80 125 / 36%);
}

.goal-four {
  background: rgb(0 80 125 / 46%);
}
.goal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2vh;
}
#user-interviews img[src*="icon.svg"] {
  max-width: 3vw;
  height:auto;
  width: auto;
}
.icon-location {
  margin-left: 1vw;
  margin-top: 1vh;
}
.icon-location-b {
  width: 10%;
}
.ellipse-user-left,
.ellipse-user-right {
  border-radius: 9999px;
  display: inline-block;
  position: absolute;
}
.ellipse-user-left {
  width: 22.575%;
  padding-top: 22.575%;
}
.ellipse-user-right {
  width: 33%;
  padding-top: 33%;
}
.ellipse-jim {
  background-color: #ade4bc;
}
.ellipse-steve {
  background-color: #97cbd2;
}
.ellipse-skip {
  background-color: #e6e7ae;
}
.ellipse-jeff {
  background-color: #efbe74;
}

.text-user {
  display: block;
  position: absolute;
  margin-left: 1vw;
  line-height: 1.3;
  bottom: 10%;

}
.text-user p {
  margin: 0;
}

/* ||user personas */
.persona {
  width: 100%;
  height: 100%;
  padding: 17px 20px;
  background: var(--light-teal);
  border-radius: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.persona ul {
  padding-left: 2vw;
  margin: 1vh 0;
}
/* .persona-quote {
  width: auto;
  max-width: 58.33%;
  height: auto;
  max-height: 10vh;
  clip-path: path("M71.1668 56.8735C71.1668 39.8225 81.3798 26 93.9783 26H717.189C729.787 26 740 39.8225 740 56.8735V200.127C740 217.177 729.787 231 717.189 231H93.9783C81.3798 231 26 231 26 231C26 231 51.5489 214.328 71.1668 174.193C72.6771 171.103 71.1668 56.8735 71.1668 56.8735Z ");
  background-color: var(--black-vela);
  filter: blur(2px);
  filter: drop-shadow(0 2px 10px rgb(0 0 0 / 10%));
} */
.persona-block {
  display: flex;
  flex-direction: row;
  position: relative;
}
.persona-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.center-image {
  position: relative;
  top: 5vh;
  left: 3vw;
}
.center-image-kip {
  position: relative;
  top: 2vh;
  left: -6.5vw;
  max-width: 45vw;
  width: auto;
}
.clip-circle {
  clip-path: circle(9vw at 30% 25%);
  left: 24vw;
  transform: translate(-50%, 0);
  position: absolute;
}
.persona-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
}
.persona-space {
  display: grid;
  row-gap: 1.5vw;
}
.persona-space:last-child {
  padding-bottom: 0;
}
div.persona-container > h4 {
  padding-top: 80%;
}
/* || wireframes */

.wireframe {
  position: relative;
}
.light-stripe {
  position: relative;
  background-color: var(--light-teal);
  top: 11vh;
}
.med-stripe {
  position: relative;
  background-color: #78a2ba;
  padding-top: 20vh;
  top: 26vh;
}
.dark-stripe {
  background-color: var(--teal-text);
  padding-top: 20vh;
  margin-top: 30vh;
}
.in-front {
  position: absolute;
  z-index: 1;
  scale: 80%;
}
.low-fidelity {
  top: 0;
}
.med-fidelity {
  top: 60vh;
}
.high-fidelity {
  top: 110vh;
}
.flex-wireframe {
  display: flex;
  flex-direction: column;
}

/* || small screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 639px) {
  /* || design thinking small */
  .ellipse {
    height: 80px;
    width: 80px;
    margin-top: 5px;
    background: var(--light-teal);
    border-radius: 9999px;
    position: relative;
  }

  .ellipse > img {
    height: 44px;
    width: 44px;
    position: absolute;
    opacity: 0.7;
    flex-shrink: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .ellipse-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ellipse-text h3 {
    margin: 0.6rem 0;
  }

  .flex {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    row-gap: 10px;
  }

  img[src*="arrow-transition"] {
    transform: rotate(90deg);
    scale: 70%;
    height: 30px;
  }
  /* || competitive research small */
  .competitive {
    flex-direction: column;
  }

  .no-shrink {
    width: 100%;
  }

  img[src*="windy-app-icon"] {
    width: 3rem;
    height: 3rem;
  }

  img[src*="accuweather-icon"] {
    width: 6rem;
    height: 3.5rem;
  }
  /* || user persona small */
  .persona-box {
    gap: 16vw;
  }
}

/* || medium width size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 640px) and (max-width: 1023px) {
  main > * {
    margin: 5vh 4vw;
  }
  /* || introduction medium */
  #introduction .row h2 {
    margin: 1vw 0;
    font-size: 1.5em;
  }
  #introduction .intro-img {
    padding-top: 8vh;
  }
  #introduction .col-6.right-edge {
    padding-right: 0;
  }

  #introduction .col-6.left-edge {
    padding-left: 0;
  }
  #introduction div.col-5 {
    width: 41.66%;
  }
  #introduction div.col-7 {
    width: 58.33%;
  }
  /* || design thinking medium */
  .ellipse {
    height: 80px;
    width: 80px;
    margin-top: 5px;
    background: var(--light-teal);
    border-radius: 9999px;
    position: relative;
  }

  .ellipse > img {
    height: 44px;
    width: 44px;
    position: absolute;
    opacity: 0.7;
    flex-shrink: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .ellipse-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }

  img[src*="arrow-transition"] {
    box-sizing: content-box;
    padding: 0 0 4vh;
  }
  img[src*="arrow-transition-dark"] {
    margin-right: 2vw;
  }
  [class*="col-"] {
    float: left;
    padding: 2vh 2vw;
    position: relative;
  }
  #introduction .inline-flex {
    display: inline-flex;
    float: none;
  }
  #introduction .inline-flex.col-8 {
    padding-top: 0;
  }
  /* || user interviews medium */
  .ellipse-user-left,
  .ellipse-user-right {
    position: relative;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  /* ||wireframes medium */
  .low-fidelity {
    top: 3vh;
  }
}

/* || large screen size */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1024px) {
  main > * {
    margin: 10vh 5vw;
  }
  #introduction {
    margin-top: 8vh;
  }
  #introduction .col-6.left-edge {
    padding-left: 0;
  }
  #introduction .col-6.right-edge {
    padding-right: 0;
  }

  #introduction .inline-flex {
    display: inline-flex;
    float: none;
  }
  /* ||design thinking large */

  #introduction div.col-4 {
    width: 33.33%;
  }

  #introduction div.col-8 {
    width: 66.66%;
  }
  #introduction .inline-flex {
    display: inline-flex;
  }
  #introduction .inline-flex.col-8 {
    padding-top: 0;
  }

  .ellipse > img {
    width: 5vw;
    height: 5vw;
    position: absolute;
    opacity: 0.7;
    flex-shrink: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .ellipse {
    width: 10vw;
    height: 10vw;
    background: var(--light-teal);
    border-radius: 9999px;
    position: relative;
  }
  .ellipse-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  img[src*="arrow-transition"] {
    box-sizing: content-box;
    padding: 0 0 4vh;
  }
  img[src*="arrow-transition-dark"] {
    margin-right: 2vw;
  }
  /* || user interviews large */
  #user-interviews .col-5 {
    padding-right: 0;
    padding-left: 0;
    height: 40vh;
  }
  #user-interviews .col-7 {
    padding-left: 0;
    padding-right: 4vw;
    height: 40vh;
  }
  .text-user-right {
    display: block;
    position: absolute;
    margin-left: 0;
    line-height: 1.3;
    bottom: 10%;
  }
  .text-user-right p {
    margin: 0;
  }
  .ellipse-user-left {
    width: 21.425%;
    padding-top: 21.425%;
    bottom: 35%;
    right: 78%;
    z-index: 1;
  }
  .ellipse-user-right {
    width: 30%;
    padding-top: 30%;
    bottom: 35%;
    z-index: 1;
  }
  .quote-left {
    margin-left: 6.5vw;
    z-index: 0;
    padding: 2vh 2vw;
  }
  .quote-right {
    margin-left: 6.5vw;
    z-index: 0;
    padding: 2vh 2vw;
  }
  .quote-jeff{
    margin-top: 5vh;
  }
  .icon-location {
    margin-left: 9vw;
    margin-top: 1vh;
  }

  .flex {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }
  /* ||wireframes large */
  .low-fidelity {
    top: 0;
  }
  .med-fidelity {
    top: 60vh;
  }
  .light-stripe {
    position: relative;
    background-color: var(--light-teal);
    padding-top: 18vh;
    top: 11vh;
  }
  .med-stripe {
    position: relative;
    background-color: #78a2ba;
    padding-top: 20vh;
    top: 26vh;
  }
  .dark-stripe {
    background-color: var(--teal-text);
    padding-top: 20vh;
    margin-top: 30vh;
  }
  .in-front {
    position: absolute;
    z-index: 1;
    scale: 80%;
  }
  .low-fidelity {
    top: 0;
  }
  .med-fidelity {
    top: 60vh;
  }
  .high-fidelity {
    top: 110vh;
  }
}
